*{
    margin:0;
    padding:0;
}
.App {
  text-align: center;
}

.todoform {
    max-width:200px;
    margin:30px auto;
}
    .btnx {
        margin:5px auto;
        min-width:100px;
        padding:2px 5px;
        background-color:#0094ff;
    }